<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PaypalAccountManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <PaypalAccountManager.Properties.Settings>
      <setting name="headerTable" serializeAs="String">
        <value>name,email,password,passwordEmail,amount,history,resultLimit,countTransaction,status,idTransaction,mailReceive,dateCreate,address,cmndNumber,birthday,phone,note,proxy,ttVeryMail,securityQuestion,twoFA,cookie,resultKTGD,log,</value>
      </setting>
      <setting name="profilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="threadCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="autoCloseChrome" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbPath" serializeAs="String">
        <value />
      </setting>
      <setting name="databasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ppvnPath" serializeAs="String">
        <value />
      </setting>
      <setting name="selectedDatabaseIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mailHost" serializeAs="String">
        <value />
      </setting>
      <setting name="mailUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="mailPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="mailDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="apiSim" serializeAs="String">
        <value />
      </setting>
      <setting name="countThreadRegAcc" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="useGologin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="infoVerifyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="browser" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="proxyServerUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyToken" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyAutoReset" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="inputFormat" serializeAs="String">
        <value />
      </setting>
      <setting name="listProxy" serializeAs="String">
        <value />
      </setting>
      <setting name="TokenProxy" serializeAs="String">
        <value />
      </setting>
    </PaypalAccountManager.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
